$spacing-unit: 1em;
$spacing-xxs: calc(0.25 * $spacing-unit); // 4px
$spacing-xs: calc(0.5 * $spacing-unit); // 8px
$spacing-s: calc(0.625 * $spacing-unit); //10px
$spacing-sm: calc(0.75 * $spacing-unit); // 12px
$spacing-md: calc(1.25 * $spacing-unit); // 20px
$spacing-lg: calc(2 * $spacing-unit); // 32px
$spacing-xl: calc(3.25 * $spacing-unit); // 52px
$spacing-xxl: calc(5.25 * $spacing-unit); // 84px
$spacing-xxxl: calc(11 * $spacing-unit); // 176px
