a {
  text-decoration: none;
  color: $color-primary;
  transition: 0.4s;
  padding: 3px;

  &:hover {
    background-color: $color-secondary-light-2;
  }
}

button,
input {
  font-family: 'Noto Sans';
}
