a {
  text-decoration: none;
  color: $color-primary;
  transition: 0.4s;
  padding: 3px;

  &:hover {
    background-color: $color-secondary-light-2;
  }
}

button,
input {
  font-family: 'Noto Sans';
}

.dialog-footer {
  text-align: right;
  margin-top: 10px;
}
.el-table-v2__header-cell-text {
  font-weight: 600;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.el-button--text {
  background: transparent;
  border-color: transparent;
  color: $color-link;
  padding-left: 0;
  padding-right: 0;
}

.el-input,
h4 {
  text-align: center;
}
